---
styles: true
---
//@charset "utf-8";
//@import "colours";
//@import "normalize";
//@import "sassline-base";
//@import "syntax";
//@import "flex";
//@import "tag";

//$linkColour: #CF8D27;

$linkColour: #004285;
$headingColour: #82560C;

body {
  background: $headingColour;
  color: $linkColour;
  height: 100%;
  display: flex;
  @include flex-direction(column);
  overflow-x: hidden;
}

@import "alembic";
