---
title: false
styles: true
---
heading {
  color: red;
  text-align: left;
}
body {
  color: red;
  text-align: center;

}

headingColour {
  color: red

}

bodyColour {
color: blue

}


@import "alembic";
